<template>
	<consulta-ingreso-body />
</template>

<script>
import ConsultaIngresoBody from "../components/ConsultaIngresoBody";

export default {
	name: "ConsultaVenta",

	components: {
		ConsultaIngresoBody
	}
};
</script>
