<template>
	<consulta-venta-body />
</template>

<script>
import ConsultaVentaBody from "../components/ConsultaVentaBody";

export default {
	name: "ConsultaVenta",

	components: {
		ConsultaVentaBody
	}
};
</script>
