<template>
	<v-layout align-start>
		<v-flex>
			<v-toolbar flat color="white">
				<v-btn @click="crearPDF()" class="mr-4">
					<v-icon>print</v-icon>
				</v-btn>
				<v-toolbar-title>Artículos</v-toolbar-title>
				<v-divider class="mx-2" inset vertical></v-divider>
				<v-spacer />
				<v-text-field
					class="text-xs-center"
					v-model="search"
					append-icon="search"
					label="Búsqueda"
					single-line
					hide-details
				></v-text-field>
				<v-spacer />
				<v-dialog v-model="dialog" max-width="500px">
					<template v-slot:activator="{ on, attrs }">
						<v-btn
							color="primary"
							dark
							class="mb-2"
							v-bind="attrs"
							v-on="on"
						>
							Agregar
						</v-btn>
					</template>

					<v-card>
						<v-card-title>
							<span class="headline">{{ formTitle }}</span>
						</v-card-title>

						<v-card-text>
							<v-container grid-list-md>
								<v-layout wrap>
									<v-flex xs6 sm6 md6>
										<v-text-field
											v-model="editedItem.codigo"
											label="Código"
										></v-text-field>
									</v-flex>
									<v-flex xs6 sm6 md6>
										<v-select
											v-model="editedItem.idCategoria"
											:items="categorias"
											label="Categoría"
										></v-select>
									</v-flex>
									<v-flex xs12 sm12 md12>
										<v-text-field
											v-model="editedItem.nombre"
											label="Nombre"
										></v-text-field>
									</v-flex>
									<v-flex xs6 sm6 md6>
										<v-text-field
											type="number"
											v-model="editedItem.stock"
											label="Stock"
										></v-text-field>
									</v-flex>
									<v-flex xs6 sm6 md6>
										<v-text-field
											type="number"
											v-model="editedItem.precioVenta"
											label="Precio Venta"
										></v-text-field>
									</v-flex>
									<v-flex xs12 sm12 md12>
										<v-text-field
											v-model="editedItem.descripcion"
											label="Descripcion"
										></v-text-field>
									</v-flex>
									<v-flex xs12 sm12 md12 v-show="valida">
										<div
											class="red--text"
											v-for="v in validaMensaje"
											:key="v"
											v-text="v"
										></div>
									</v-flex>
									<!-- <v-flex xs12 sm6 md4>
										<v-text-field
											v-model="editedItem.condicion"
											label="Estado"
										></v-text-field>
									</v-flex> -->
								</v-layout>
							</v-container>
						</v-card-text>

						<v-card-actions>
							<v-spacer />
							<v-btn
								color="blue darken-1"
								text
								@click.native="close"
								>Cancelar</v-btn
							>
							<v-btn
								color="blue darken-1"
								text
								@click.native="guardar"
								>Guardar</v-btn
							>
						</v-card-actions>
					</v-card>
				</v-dialog>
				<v-dialog v-model="dialogDelete" max-width="500px">
					<v-card>
						<v-card-title class="headline center"
							>¿Estás seguro de querer eliminar este
							elemento?</v-card-title
						>
						<v-card-actions>
							<v-spacer />
							<v-btn
								color="blue darken-1"
								text
								@click="closeDelete"
								>Cancel</v-btn
							>
							<v-btn color="blue darken-1" text @click="eliminar"
								>OK</v-btn
							>
							<v-spacer />
						</v-card-actions>
					</v-card>
				</v-dialog>
				<v-dialog v-model="modal.adModal" max-width="290">
					<v-card>
						<v-card-title
							class="headline"
							v-if="modal.adAccion == 1"
							>¿Activar Item?</v-card-title
						>
						<v-card-title
							class="headline"
							v-if="modal.adAccion == 2"
							>¿Desactivar Item?</v-card-title
						>
						<v-card-text>
							Estás a punto de
							<span v-if="modal.adAccion == 1">Activar</span>
							<span v-if="modal.adAccion == 2">Desactivar</span>
							el ítem {{ modal.adNombre }}
						</v-card-text>
						<v-card-actions>
							<v-spacer />
							<v-btn
								color="green darken-1"
								text
								@click="activarDesactivarCerrar"
								>Cancelar</v-btn
							>
							<template v-if="modal.adAccion == 1">
								<v-btn
									color="orange darken-4"
									text
									@click="activar"
									>Activar</v-btn
								>
							</template>
							<template v-else>
								<v-btn
									color="orange darken-4"
									text
									@click="desactivar"
									>Desactivar</v-btn
								>
							</template>
						</v-card-actions>
					</v-card>
				</v-dialog>
			</v-toolbar>
			<v-data-table
				:headers="headers"
				:items="articulos"
				:search="search"
				class="elevation-1"
			>
				<template v-slot:item="props">
					<tr>
						<td class="justify-center layout px-0">
							<v-icon
								small
								class="mr-2"
								@click="editItem(props.item)"
							>
								edit
							</v-icon>
							<!-- <v-icon
								small
								@click="deleteItem(props.item)"
								class="mr-2"
							>
								delete
							</v-icon> -->
							<template v-if="props.item.condicion">
								<v-icon
									small
									@click="
										activarDesactivarMostrar(2, props.item)
									"
									>block</v-icon
								>
							</template>
							<template v-else>
								<v-icon
									small
									@click="
										activarDesactivarMostrar(1, props.item)
									"
									>check</v-icon
								>
							</template>
						</td>
						<td>{{ props.item.codigo }}</td>
						<td>{{ props.item.nombre }}</td>
						<td>{{ props.item.categoria }}</td>
						<td>{{ props.item.stock }}</td>
						<td>{{ props.item.precioVenta }}</td>
						<td>{{ props.item.descripcion }}</td>
						<td class="text-xs-right">
							<div v-if="props.item.condicion">
								<span class="blue--text">Activo</span>
							</div>
							<div v-else>
								<span class="red--text">Inactivo</span>
							</div>
						</td>
					</tr>
				</template>
				<template slot="no-data">
					<v-btn color="primary" @click="listar">Reset</v-btn>
				</template>
			</v-data-table>
		</v-flex>
	</v-layout>
</template>

<script>
import axios from "axios";
import jsPDF from "jspdf";
import autoTable from "jspdf-autotable";
export default {
	name: "ArticuloBody",
	data: () => ({
		articulos: [],
		dialog: false,
		dialogDelete: false,
		headers: [
			{
				text: "Opciones",
				align: "start",
				sortable: false,
				value: "actions"
			},
			{ text: "Código", value: "codigo", sortable: false },
			{ text: "Nombre", value: "nombre" },
			{ text: "Categoria", value: "categoria" },
			{ text: "Stock", value: "stock", sortable: false },
			{ text: "Precio Venta", value: "precioVenta", sortable: false },
			{ text: "Descripción", value: "descripcion", sortable: false },
			{ text: "Estado", value: "condicion", sortable: false }
		],
		search: "",
		editedIndex: -1,
		categorias: [],
		editedItem: {
			idArticulo: 0,
			idCategoria: 0,
			codigo: "",
			nombre: "",
			stock: 0,
			precioVenta: 0,
			descripcion: "",
			valida: 0
		},
		defaultItem: {
			idArticulo: 0,
			idCategoria: 0,
			codigo: "",
			nombre: "",
			stock: 0,
			precioVenta: 0,
			descripcion: "",
			valida: 0
		},

		valida: 0,
		validaMensaje: [],

		modal: {
			adModal: 0,
			adAccion: 0,
			adNombre: "",
			adId: ""
		}
	}),

	computed: {
		formTitle() {
			return this.editedIndex === -1
				? "Nuevo artículo"
				: "Actualizar artículo";
		}
	},

	watch: {
		dialog(val) {
			val || this.close();
		},
		dialogDelete(val) {
			val || this.closeDelete();
		}
	},

	created() {
		this.listar();
		this.select();
	},

	methods: {
		crearPDF() {
			var columns = [
				{ title: "Nombre", dataKey: "nombre" },
				{ title: "Código", dataKey: "codigo" },
				{ title: "Categoría", dataKey: "categoria" },
				{ title: "Stock", dataKey: "stock" },
				{ title: "Precio Venta", dataKey: "precioVenta" }
			];

			var rows = [];

			this.articulos.map(x =>
				rows.push({
					nombre: x.nombre,
					codigo: x.codigo,
					categoria: x.categoria,
					stock: x.stock,
					precioVenta: x.precioVenta
				})
			);

			//Only pt supported (not mm or in)
			var doc = new jsPDF("p", "pt");
			doc.autoTable(columns, rows, {
				margin: { top: 60 },
				addPageContent: data => doc.text("Listado de Artículos", 40, 30)
			});

			doc.save("Artículos.pdf");
		},
		listar() {
			let me = this;
			axios
				.get("api/Articulos/Listar")
				.then(function(response) {
					
					me.articulos = response.data;
				})
				.catch(function(error) {
					// console.log(error);
				});
		},

		select() {
			let me = this;
			var categoriasArray = [];
			axios
				.get("api/Categorias/Select")
				.then(function(response) {
					categoriasArray = response.data;
					categoriasArray.map(function(x) {
						me.categorias.push({
							text: x.nombre,
							value: x.idCategoria
						});
					});
				})
				.catch(function(error) {
					// console.log(error);
				});
		},

		validar() {
			this.valida = 0;
			this.validaMensaje = [];
			if (
				this.editedItem.nombre.length < 3 ||
				this.editedItem.nombre.length > 50
			) {
				this.validaMensaje.push(
					"El nombre debe tener mas de 3 caracteres y menos de 50 caracteres"
				);
			}
			if (!this.editedItem.idCategoria) {
				this.validaMensaje.push("Seleccione una categoría.");
			}
			if (!this.editedItem.stock || this.editedItem.stock == 0) {
				this.validaMensaje.push(
					"Ingrese el stock inicial del artículo."
				);
			}
			if (
				!this.editedItem.precioVenta ||
				this.editedItem.precioVenta == 0
			) {
				this.validaMensaje.push(
					"Ingrese el precio de venta del artículo."
				);
			}
			if (this.validaMensaje.length) {
				this.valida = 1;
			}
			return this.valida;
		},

		limpiar() {
			this.editedItem = this.defaultItem;
			this.editedIndex = -1;
		},

		activarDesactivarMostrar(accion, item) {
			this.modal.adModal = 1;
			this.modal.adNombre = item.nombre;
			this.modal.adId = item.idArticulo;
			if (accion == 1) {
				this.modal.adAccion = 1;
			} else if (accion == 2) {
				this.modal.adAccion = 2;
			} else {
				this.modal.adAccion = 0;
			}
		},

		activar() {
			let me = this;
			axios
				.put(`api/Articulos/Activar/${this.modal.adId}`, {})
				.then(function(response) {
					me.modal.adModal = 0;
					me.modal.adAccion = 0;
					me.modal.adNombre = "";
					me.modal.adId = "";
					me.listar();
				})
				.catch(function(error) {
					// console.log(error);
				});
		},

		desactivar() {
			let me = this;
			axios
				.put(`api/Articulos/Desactivar/${this.modal.adId}`, {})
				.then(function(response) {
					me.modal.adModal = 0;
					me.modal.adAccion = 0;
					me.modal.adNombre = "";
					me.modal.adId = "";
					me.listar();
				})
				.catch(function(error) {
					// console.log(error);
				});
		},

		activarDesactivarCerrar() {
			this.modal.adModal = 0;
		},

		guardar() {
			if (this.editedIndex > -1) {
				//Código para editar
				let me = this;
				this.editedItem.idArticulo = this.articulos[
					this.editedIndex
				].idArticulo;
				axios
					// .put('api/categorias/actualizar/' + this.articulos[this.editedIndex].idArticulo, this.editedItem)
					.put("api/Articulos/Actualizar", this.editedItem)
					.then(function(response) {
						
						me.close();
						me.listar();
						me.limpiar();
					})
					.catch(function(error) {
						// console.log(error);
					});
			} else {
				//Código para crear
				let me = this;
				axios
					.post("api/Articulos/Crear", this.editedItem)
					.then(function(response) {
						
						me.close();
						me.listar();
						me.limpiar();
					})
					.catch(function(error) {
						// console.log(error);
					});
			}
			if (this.validar()) {
				return;
			}
		},

		eliminar() {
			let me = this;
			axios
				.delete(
					`api/categorias/eliminar/${
						this.articulos[this.editedIndex].idArticulo
					}`
				)
				.then(function(response) {
					
					me.close();
					me.listar();
					me.limpiar();
				})
				.catch(function(error) {
					// console.log(error);
				});
		},

		editItem(item) {
			this.editedIndex = this.articulos.indexOf(item);
			this.editedItem = Object.assign({}, item);
			this.dialog = true;
		},

		deleteItem(item) {
			this.editedIndex = this.articulos.indexOf(item);
			this.editedItem = Object.assign({}, item);
			this.dialogDelete = true;
		},

		close() {
			let me = this;
			this.dialog = false;
			this.dialogDelete = false;
			me.limpiar();
			// this.$nextTick(() => {
			// 	this.editedItem = Object.assign({}, this.defaultItem);
			// 	this.editedIndex = -1;
			// });
		},

		closeDelete() {
			this.dialogDelete = false;
			this.$nextTick(() => {
				this.editedItem = Object.assign({}, this.defaultItem);
				this.editedIndex = -1;
			});
		}
	}
};
</script>
