<template>
	<v-container grid-list-m>
		<v-layout wrap>
			<v-flex xs12 sm12 md12>
				<div>
					<canvas id="myChart">

					</canvas>
				</div>
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>
import axios from 'axios';
import Chart from 'chart.js'

export default {
	name: "HelloWorld",

	data: () => ({
		mesesValores: [],
		nombreMeses: [],
		totalMeses: []
	}),

	methods: {
		loadProductosMasVendidos() {
			const months = [
				{key: 1, name: "Enero"},
				{key: 2, name: "Febrero"},
				{key: 3, name: "Marzo"},
				{key: 4, name: "Abril"},
				{key: 5, name: "Mayo"},
				{key: 6, name: "Junio"},
				{key: 7, name: "Julio"},
				{key: 8, name: "Agosto"},
				{key: 9, name: "Septiembre"},
				{key: 10, name: "Octubre"},
				{key: 11, name: "Noviembre"},
				{key: 12, name: "Diciembre"},
			]
			let me = this;
			me.mesesValores.map(x => {
				const { name } = months.find(month => month.key == x.etiqueta)
				me.nombreMeses.push(name);
				me.totalMeses.push(x.valor);
			});
			var ctx = document.getElementById("myChart").getContext("2d");
			var myChart = new Chart(ctx, {
				type: "bar",
				data: {
					labels: me.nombreMeses,
					datasets: [
						{
							label: "Ventas en los últimos 12 Meses",
							data: me.totalMeses,
							backgroundColor: [
								"rgba(255, 99, 132, 0.2)",
								"rgba(54, 162, 235, 0.2)",
								"rgba(255, 206, 86, 0.2)",
								"rgba(75, 192, 192, 0.2)",
								"rgba(153, 102, 255, 0.2)",
								"rgba(255, 159, 64, 0.2)",
								"rgba(255, 99, 132, 0.2)",
								"rgba(54, 162, 235, 0.2)",
								"rgba(255, 206, 86, 0.2)",
								"rgba(75, 192, 192, 0.2)",
								"rgba(153, 102, 255, 0.2)",
								"rgba(255, 159, 64, 0.2)"
							],
							borderColor: [
								"rgba(255, 99, 132, 1)",
								"rgba(54, 162, 235, 1)",
								"rgba(255, 206, 86, 1)",
								"rgba(75, 192, 192, 1)",
								"rgba(153, 102, 255, 1)",
								"rgba(255, 159, 64, 1)",
								"rgba(255, 99, 132, 1)",
								"rgba(54, 162, 235, 1)",
								"rgba(255, 206, 86, 1)",
								"rgba(75, 192, 192, 1)",
								"rgba(153, 102, 255, 1)",
								"rgba(255, 159, 64, 1)"
							],
							borderWidth: 1
						}
					]
				},
				options: {
					scales: {
						y: {
							beginAtZero: true
						}
					}
				}
			});
		},

		getProductosMasVendidos() {
			let me = this;
			axios
				.get("api/Ventas/VentasMes12")
				.then(function(response) {
					console.log({response});
					me.mesesValores = response.data;
					me.loadProductosMasVendidos();
				})
				.catch(function(error) {
					// console.log(error);
				});
		}
	},

	mounted() {
		this.getProductosMasVendidos();
	}

};
</script>
