<template>
	<v-layout align-start>
		<v-flex>
			<v-toolbar text color="white">
				<v-toolbar-title>Ingresos</v-toolbar-title>
				<v-divider class="mx-2" inset vertical></v-divider>
				<v-spacer />
				<v-text-field
					class="text-xs-center"
					v-model="search"
					append-icon="search"
					label="Búsqueda"
					single-line
					hide-details
					v-if="!verNuevo"
				></v-text-field>
				<v-btn
					color="primary"
					dark
					class="ml-4 mb-2"
					v-if="!verNuevo"
					@click="listar()"
				>
					Buscar
				</v-btn>
				<v-spacer />
				<v-btn
					color="primary"
					dark
					class="mb-2"
					v-if="!verNuevo"
					@click="mostrarNuevo"
				>
					Nuevo
				</v-btn>

				<v-dialog v-model="modal.adModal" max-width="290">
					<v-card>
						<v-card-title
							class="headline"
							v-if="modal.adAccion == 1"
							>¿Activar Item?</v-card-title
						>
						<v-card-title
							class="headline"
							v-if="modal.adAccion == 2"
							>Anular Item?</v-card-title
						>
						<v-card-text>
							Estás a punto de
							<span v-if="modal.adAccion == 1">Activar</span>
							<span v-if="modal.adAccion == 2">Anular</span>
							el ítem {{ modal.adNombre }}
						</v-card-text>
						<v-card-actions>
							<v-spacer />
							<v-btn
								color="green darken-1"
								text
								@click="activarDesactivarCerrar"
								>Cancelar</v-btn
							>
							<template v-if="modal.adAccion == 1">
								<v-btn
									color="orange darken-4"
									text
									@click="activar"
									>Activar</v-btn
								>
							</template>
							<template v-else>
								<v-btn
									color="orange darken-4"
									text
									@click="desactivar"
									>Anular</v-btn
								>
							</template>
						</v-card-actions>
					</v-card>
				</v-dialog>
				<v-dialog v-model="verArticulos" max-width="1000px">
					<v-card>
						<v-card-title
							><span class="headline"
								>Seleccione un artículo</span
							></v-card-title
						>
						<v-card-text>
							<v-container grid-list-md>
								<v-layout wrap>
									<v-text-field
										append-icon="seach"
										class="text-xs-center"
										v-model="texto"
										label="Ingrese artículo a buscar"
										@keyup.enter="listarArticulo()"
									></v-text-field>
									<v-flex xs12 sm12 md12 lg12 xl12>
										<v-data-table
											:headers="cabeceraArticulos"
											:items="articulos"
											hide-default-footer
											class="elevation-1"
										>
											<template v-slot:item="props">
												<tr>
													<td
														class="justify-center layout px-0"
													>
														<v-icon
															small
															class="ma-auto"
															@click="
																agregarDetalle(
																	props.item
																)
															"
														>
															add
														</v-icon>
													</td>
													<td>
														{{ props.item.nombre }}
													</td>
													<td>
														{{
															props.item.categoria
														}}
													</td>
													<td>
														{{
															props.item
																.descripcion
														}}
													</td>
													<td>
														{{ props.item.stock }}
													</td>
													<td>
														{{ props.item.precioVenta }}
													</td>
												</tr>
											</template>
											<template slot="no-data">
												<h3>
													No hay artículos para
													mostrar
												</h3>
											</template>
										</v-data-table>
									</v-flex>
								</v-layout>
							</v-container>
						</v-card-text>
						<v-card-actions>
							<v-spacer />
							<v-btn
								color="blue darken-"
								text
								@click="ocultarArticulos()"
								>Cancelar</v-btn
							>
						</v-card-actions>
					</v-card>
				</v-dialog>
			</v-toolbar>
			<v-data-table
				:headers="headers"
				:items="ingresos"
				:search="search"
				class="elevation-1"
				v-if="!verNuevo"
			>
				<template v-slot:item="props">
					<tr>
						<td class="justify-center layout px-0">
							<v-icon
								small
								class="mr-2"
								@click="editItem(props.item)"
							>
								tab
							</v-icon>
							<!-- <v-icon
								small
								@click="deleteItem(props.item)"
								class="mr-2"
							>
								delete
							</v-icon> -->
							<template v-if="props.item.estado == 'Aceptado'">
								<v-icon
									small
									@click="
										activarDesactivarMostrar(2, props.item)
									"
									>block</v-icon
								>
							</template>
							<!-- <template v-else>
								<v-icon
									small
									@click="
										activarDesactivarMostrar(1, props.item)
									"
									>check</v-icon
								>
							</template> -->
						</td>
						<td>{{ props.item.usuario }}</td>
						<td>{{ props.item.proveedor }}</td>
						<td>{{ props.item.tipoComprobante }}</td>
						<td>{{ props.item.serieComprobante }}</td>
						<td>{{ props.item.numComprobante }}</td>
						<td>{{ props.item.fechaHora }}</td>
						<td>{{ props.item.impuesto }}</td>
						<td>{{ props.item.total }}</td>

						<td class="text-xs-right">
							<div v-if="props.item.estado == 'Aceptado'">
								<span class="blue--text">Aceptado</span>
							</div>
							<div v-else>
								<span class="red--text">{{
									props.item.estado
								}}</span>
							</div>
						</td>
					</tr>
				</template>
				<template slot="no-data">
					<v-btn color="primary" @click="listar">Reset</v-btn>
				</template>
			</v-data-table>
			<v-container grid-list-sm class="pa-4 white" v-if="verNuevo">
				<v-layout row wrap>
					<v-flex xs12 sm4 md4 lg4 xl4>
						<v-select
							v-model="editedItem.tipoComprobante"
							:items="comprobantes"
							label="Tipo Comprobante"
						></v-select>
					</v-flex>
					<v-flex xs12 sm4 md4 lg4 xl4>
						<v-text-field
							v-model="editedItem.serieComprobante"
							label="Serie Comprobante"
						></v-text-field>
					</v-flex>
					<v-flex xs12 sm4 md4 lg4 xl4>
						<v-text-field
							v-model="editedItem.numComprobante"
							label="Número Comprobante"
						></v-text-field>
					</v-flex>
					<v-flex xs12 sm8 md8 lg8 xl8>
						<v-select
							v-model="editedItem.idProveedor"
							:items="proveedores"
							label="Proveedor"
						></v-select>
					</v-flex>
					<v-flex xs12 sm4 md4 lg4 xl4>
						<v-text-field
							type="number"
							v-model="editedItem.impuesto"
							label="Impuesto"
						></v-text-field>
					</v-flex>
					<v-flex xs12 sm8 md8 lg8 xl8>
						<v-text-field
							@keyup.enter="buscarCodigo()"
							v-model="editedItem.codigo"
							label="Código"
						></v-text-field>
					</v-flex>
					<v-flex xs12 sm2 md2 lg2 xl2>
						<v-btn
							@click="mostrarArticulos()"
							small
							fab
							dark
							color="teal"
						>
							<v-icon dark>list</v-icon>
						</v-btn>
					</v-flex>
					<v-flex xs12 sm2 md2 lg2 xl2>
						<div class="red--text" v-text="errorArticulo"></div>
					</v-flex>
					<v-flex xs12 sm12 md12 lg12 xl12>
						<v-data-table
							:headers="cabeceraDetalles"
							:items="detalles"
							hide-default-footer
							class="elevation-1"
						>
							<template v-slot:item="props">
								<tr>
									<td class="justify-center layout px-0">
										<v-icon
											small
											class="ma-auto"
											@click="
												eliminarDetalle(
													detalles,
													props.item
												)
											"
										>
											delete
										</v-icon>
									</td>
									<td>{{ props.item.articulo }}</td>
									<td>
										<v-text-field
											type="number"
											v-model="props.item.cantidad"
											>{{
												props.item.cantidad
											}}</v-text-field
										>
									</td>
									<td>
										<v-text-field
											type="number"
											v-model="props.item.precio"
											>{{
												props.item.precio
											}}</v-text-field
										>
									</td>
									<td>
										$
										{{
											props.item.cantidad *
												props.item.precio
										}}
									</td>
								</tr>
							</template>
							<template slot="no-data">
								<h3>No hay artículos agregados al detalle.</h3>
							</template>
						</v-data-table>
						<v-flex class="text-xs-right">
							<strong>Total Parcial: </strong>$
							{{
								(totalParcial = (total - totalImpuesto).toFixed(
									2
								))
							}}
						</v-flex>
						<v-flex class="text-xs-right">
							<strong>Total Impuesto: </strong>$
							{{
								(totalImpuesto = (
									(total * editedItem.impuesto) /
									(100 + editedItem.impuesto)
								).toFixed(2))
							}}
						</v-flex>
						<v-flex class="text-xs-right">
							<strong>Total Neto: </strong>$
							{{ (total = calcularTotal.toFixed(2)) }}
						</v-flex>
					</v-flex>
					<v-flex xs12 sm12 md12 lg12 xl12>
						<div
							class="red--text"
							v-for="v in validaMensaje"
							:key="v"
							v-text="v"
						></div>
					</v-flex>
					<v-flex xs12 sm12 md12 lg12 xl12>
						<v-btn
							@click="ocultarNuevo()"
							color="blue--text darken-1"
							text
							class="mr-2"
							>Cancelar</v-btn
						>
						<v-btn
							v-if="!verDetalle"
							@click="guardar()"
							color="success"
							text
							mx-2
							class="mr-2"
							>Guardar</v-btn
						>
					</v-flex>
				</v-layout>
			</v-container>
		</v-flex>
	</v-layout>
</template>

<script>
import axios from "axios";
export default {
	name: "IngresoBody",
	data: () => ({
		ingresos: [],
		dialog: false,
		dialogDelete: false,
		headers: [
			{
				text: "Opciones",
				align: "start",
				sortable: false,
				value: "actions"
			},
			{ text: "Usuario", value: "usuario", sorteable: false },
			{ text: "Proveedor", value: "proveedor" },
			{ text: "Tipo Comprobante", value: "tipoComprobante" },
			{
				text: "Serie Comprobante",
				value: "serieComprobante",
				sorteable: false
			},
			{
				text: "Número Comprobante",
				value: "numComprobante",
				sorteable: false
			},
			{ text: "Fecha", value: "fechaHora", sorteable: false },
			{ text: "Impuesto", value: "impuesto", sorteable: false },
			{ text: "Total", value: "total", sorteable: false },
			{ text: "Estado", value: "estado", sorteable: false }
		],
		cabeceraDetalles: [
			{ text: "Borrar", value: "borrar", sortable: false },
			{ text: "Artículo", value: "articulo", sorteable: false },
			{ text: "Cantidad", value: "cantidad", sorteable: false },
			{ text: "Precio", value: "precio", sorteable: false },
			{ text: "Subtotal", value: "subtotal", sorteable: false }
		],
		cabeceraArticulos: [
			{ text: "Seleccionar", value: "seleccionar", sortable: false },
			{ text: "Articulo", value: "articulo" },
			{ text: "Categoría", value: "categoria" },
			{ text: "Descripción", value: "descripcion", sorteable: false },
			{ text: "Stock", value: "stock", sorteable: false },
			{ text: "Precio Venta", value: "precioVenta", sorteable: false }
		],
		detalles: [],
		search: "",
		editedIndex: -1,
		proveedores: [],
		comprobantes: ["FACTURA", "BOLETA", "TICKET", "GUIA"],
		editedItem: {
			idIngreso: 0,
			idProveedor: 0,
			idUsuario: 0,
			tipoComprobante: "",
			serieComprobante: "",
			numComprobante: "",
			codigo: "",
			impuesto: "18",
			total: 0,
			detalles: []
		},
		defaultItem: {
			idIngreso: 0,
			idProveedor: 0,
			idUsuario: 0,
			tipoComprobante: "",
			serieComprobante: "",
			numComprobante: "",
			codigo: "",
			impuesto: "18",
			total: 0,
			detalles: []
		},

		valida: 0,
		validaMensaje: [],

		verNuevo: 0,

		errorArticulo: null,

		totalParcial: 0,
		totalImpuesto: 0,
		total: 0,

		articulos: [],
		texto: "",
		verArticulos: 0,

		verDetalle: 0,

		modal: {
			adModal: 0,
			adAccion: 0,
			adNombre: "",
			adId: ""
		}
	}),

	computed: {
		calcularTotal: function() {
			var resultado = 0.0;
			for (let i = 0; i < this.detalles.length; i++) {
				resultado +=
					this.detalles[i].precio * this.detalles[i].cantidad;
			}

			return resultado;
		}
	},

	watch: {
		dialog(val) {
			val || this.close();
		},
		dialogDelete(val) {
			val || this.closeDelete();
		}
	},

	created() {
		this.listar();
		this.select();
	},

	methods: {
		mostrarArticulos() {
			this.verArticulos = 1;
		},
		ocultarArticulos() {
			this.verArticulos = 0;
		},

		mostrarNuevo() {
			this.verNuevo = 1;
		},
		ocultarNuevo() {
			this.verNuevo = 0;
			this.limpiar();
		},
		listar() {
			let me = this;
			// let header = {"Authorization" : "Bearer" + this.$store.state.token}
			// let configuration = {headers : header}
			let url = "";
			if (!me.search) {
				url = `api/Ingresos/Listar`
			} else {
				url = `api/Ingresos/ListarFiltro/${me.search}`
			}
			axios
				.get(url)
				.then(function(response) {
					
					me.ingresos = response.data;
				})
				.catch(function(error) {
					// console.log(error);
				});
		},

		listarDetalles(id) {
			let me = this;
			// let header = {"Authorization" : "Bearer" + this.$store.state.token}
			// let configuration = {headers : header}
			axios
				.get(`api/Ingresos/ListarDetalles/${id}`)
				.then(function(response) {
					
					me.detalles = response.data;
				})
				.catch(function(error) {
					// console.log(error);
				});
		},

		buscarCodigo() {
			let me = this;
			me.errorArticulo = null;
			// let header = {"Authorization" : "Bearer" + this.$store.state.token}
			// let configuration = {headers : header}
			axios
				.get(
					`api/Articulos/BuscarCodigoIngreso/${this.editedItem.codigo}`
				)
				.then(function(response) {
					
					me.agregarDetalle(response.data);
				})
				.catch(function(error) {
					// console.log(error);
					me.errorArticulo = "No existe el artículo";
				});
		},

		listarArticulo() {
			let me = this;
			// let header = {"Authorization" : "Bearer" + this.$store.state.token}
			// let configuration = {headers : header}
			axios
				.get(`api/Articulos/ListarIngreso/${me.texto}`)
				.then(function(response) {
					
					me.articulos = response.data;
				})
				.catch(function(error) {
					// console.log(error);
				});
		},

		agregarDetalle(data = []) {
			this.errorArticulo = null;
			if (this.encuentra(data["idArticulo"])) {
				this.errorArticulo = "El artículo ya ha sido agregado.";
			} else {
				this.detalles.push({
					idArticulo: data["idArticulo"],
					articulo: data["nombre"],
					cantidad: 1,
					precio: data["precioVenta"]
				});
			}
		},

		encuentra(id) {
			var sw = 0;
			for (var i = 0; i < this.detalles.length; i++) {
				if (this.detalles[i].idArticulo == id) {
					sw = 1;
				}
			}
			return sw;
		},

		eliminarDetalle(arr, item) {
			var i = arr.indexOf(item);
			if (i !== -1) {
				arr.splice(i, 1);
			}
		},

		select() {
			let me = this;
			var proveedoresArray = [];
			axios
				.get("api/Personas/SelectProveedores")
				.then(function(response) {
					proveedoresArray = response.data;
					proveedoresArray.map(function(x) {
						me.proveedores.push({
							text: x.nombre,
							value: x.idPersona
						});
					});
				})
				.catch(function(error) {
					// console.log(error);
				});
		},

		validar() {
			this.valida = 0;
			this.validaMensaje = [];
			if (!this.editedItem.idProveedor) {
				this.validaMensaje.push("Seleccione un proveedor");
			}
			if (!this.editedItem.tipoComprobante) {
				this.validaMensaje.push("Seleccione un tipo de comprobante.");
			}
			if (!this.editedItem.numComprobante) {
				this.validaMensaje.push("Seleccione un número de comprobante.");
			}
			if (!this.editedItem.impuesto || this.editedItem.impuesto < 0) {
				this.validaMensaje.push("Ingrese un impuesto válido.");
			}
			if (this.detalles.length <= 0) {
				this.validaMensaje.push(
					"Ingrese al menos un artículo al detalle."
				);
			}
			if (this.validaMensaje.length) {
				this.valida = 1;
			}
			return this.valida;
		},

		limpiar() {
			this.editedItem = this.defaultItem;
			this.editedIndex = -1;
			this.detalles = [];
			this.total = 0;
			this.totalImpuesto = 0;
			this.totalParcial = 0;
			this.verDetalle = 0;
		},

		activarDesactivarMostrar(accion, item) {
			this.modal.adModal = 1;
			this.modal.adNombre = item.numComprobante;
			this.modal.adId = item.idIngreso;
			if (accion == 1) {
				this.modal.adAccion = 1;
			} else if (accion == 2) {
				this.modal.adAccion = 2;
			} else {
				this.modal.adAccion = 0;
			}
		},

		// activar() {
		// 	let me = this;
		// 	axios
		// 		.put(`api/Usuarios/Activar/${this.modal.adId}`, {})
		// 		.then(function(response) {
		// 			me.modal.adModal = 0;
		// 			me.modal.adAccion = 0;
		// 			me.modal.adNombre = "";
		// 			me.modal.adId = "";
		// 			me.listar();
		// 		})
		// 		.catch(function(error) {
		// 			// console.log(error);
		// 		});
		// },

		desactivar() {
			let me = this;
			axios
				.put(`api/Ingresos/Anular/${this.modal.adId}`, {})
				.then(function(response) {
					me.modal.adModal = 0;
					me.modal.adAccion = 0;
					me.modal.adNombre = "";
					me.modal.adId = "";
					me.listar();
				})
				.catch(function(error) {
					// console.log(error);
				});
		},

		activarDesactivarCerrar() {
			this.modal.adModal = 0;
		},

		guardar() {
			//Código para crear
			let me = this;

			this.editedItem.idUsuario = me.$store.state.usuario.idUsuario;
			this.editedItem.total = me.total;
			this.editedItem.detalles = me.detalles;
			console.log("Me detalle: ", this.editedItem.detalles);

			axios
				.post("api/Ingresos/Crear", this.editedItem)
				.then(function(response) {
					
					me.ocultarNuevo();
					me.close();
					me.listar();
					me.limpiar();
				})
				.catch(function(error) {
					// console.log(error);
				});

			if (this.validar()) {
				return;
			}
		},

		eliminar() {
			let me = this;
			axios
				.delete(
					`api/categorias/eliminar/${
						this.categorias[this.editedIndex].idUsuario
					}`
				)
				.then(function(response) {
					
					me.close();
					me.listar();
					me.limpiar();
				})
				.catch(function(error) {
					// console.log(error);
				});
		},

		editItem(item) {
			this.editedIndex = this.ingresos.indexOf(item);
			this.editedItem = Object.assign({}, item);
			this.listarDetalles(item.idIngreso);
			this.verNuevo = 1;
			this.verDetalle = 1;
		},

		deleteItem(item) {
			this.editedIndex = this.usuarios.indexOf(item);
			this.editedItem = Object.assign({}, item);
			this.dialogDelete = true;
		},

		close() {
			let me = this;
			this.dialog = false;
			this.dialogDelete = false;
			me.limpiar();
			// this.$nextTick(() => {
			// 	this.editedItem = Object.assign({}, this.defaultItem);
			// 	this.editedIndex = -1;
			// });
		},

		closeDelete() {
			this.dialogDelete = false;
			this.$nextTick(() => {
				this.editedItem = Object.assign({}, this.defaultItem);
				this.editedIndex = -1;
			});
		}
	}
};
</script>
