<template>
	<v-layout align-start>
		<v-flex>
			<v-toolbar flat color="white">
				<v-toolbar-title>Usuarios</v-toolbar-title>
				<v-divider class="mx-2" inset vertical></v-divider>
				<v-spacer />
				<v-text-field
					class="text-xs-center"
					v-model="search"
					append-icon="search"
					label="Búsqueda"
					single-line
					hide-details
				></v-text-field>
				<v-spacer />
				<v-dialog v-model="dialog" max-width="500px">
					<template v-slot:activator="{ on, attrs }">
						<v-btn
							color="primary"
							dark
							class="mb-2"
							v-bind="attrs"
							v-on="on"
						>
							Agregar
						</v-btn>
					</template>

					<v-card>
						<v-card-title>
							<span class="headline">{{ formTitle }}</span>
						</v-card-title>

						<v-card-text>
							<v-container grid-list-md>
								<v-layout wrap>
									<v-flex xs12 sm6 md6>
										<v-text-field
											v-model="editedItem.nombre"
											label="Nombre"
										></v-text-field>
									</v-flex>
									<v-flex xs12 sm6 md6>
										<v-select
											v-model="editedItem.idRol"
											:items="roles"
											label="Rol"
										></v-select>
									</v-flex>
									<v-flex xs12 sm6 md6>
										<v-select
											v-model="editedItem.tipoDocumento"
											:items="documentos"
											label="Tipo Documento"
										></v-select>
									</v-flex>
									<v-flex xs12 sm6 md6>
										<v-text-field
											v-model="editedItem.numDocumento"
											label="Número Documento"
										></v-text-field>
									</v-flex>
									<v-flex xs12 sm6 md6>
										<v-text-field
											v-model="editedItem.direccion"
											label="Dirección"
										></v-text-field>
									</v-flex>
									<v-flex xs12 sm6 md6>
										<v-text-field
											v-model="editedItem.telefono"
											label="Teléfono"
										></v-text-field>
									</v-flex>
									<v-flex xs12 sm6 md6>
										<v-text-field
											v-model="editedItem.email"
											label="Email"
										></v-text-field>
									</v-flex>
									<v-flex xs12 sm6 md6>
										<v-text-field
											type="password"
											v-model="editedItem.password"
											label="Password"
										></v-text-field>
									</v-flex>
									<v-flex xs12 sm12 md12 v-show="valida">
										<div
											class="red--text"
											v-for="v in validaMensaje"
											:key="v"
											v-text="v"
										></div>
									</v-flex>
									<!-- <v-flex xs12 sm6 md4>
										<v-text-field
											v-model="editedItem.condicion"
											label="Estado"
										></v-text-field>
									</v-flex> -->
								</v-layout>
							</v-container>
						</v-card-text>

						<v-card-actions>
							<v-spacer />
							<v-btn
								color="blue darken-1"
								text
								@click.native="close"
								>Cancelar</v-btn
							>
							<v-btn
								color="blue darken-1"
								text
								@click.native="guardar"
								>Guardar</v-btn
							>
						</v-card-actions>
					</v-card>
				</v-dialog>
				<v-dialog v-model="dialogDelete" max-width="500px">
					<v-card>
						<v-card-title class="headline center"
							>¿Estás seguro de querer eliminar este
							elemento?</v-card-title
						>
						<v-card-actions>
							<v-spacer />
							<v-btn
								color="blue darken-1"
								text
								@click="closeDelete"
								>Cancel</v-btn
							>
							<v-btn color="blue darken-1" text @click="eliminar"
								>OK</v-btn
							>
							<v-spacer />
						</v-card-actions>
					</v-card>
				</v-dialog>
				<v-dialog v-model="modal.adModal" max-width="290">
					<v-card>
						<v-card-title
							class="headline"
							v-if="modal.adAccion == 1"
							>¿Activar Item?</v-card-title
						>
						<v-card-title
							class="headline"
							v-if="modal.adAccion == 2"
							>¿Desactivar Item?</v-card-title
						>
						<v-card-text>
							Estás a punto de
							<span v-if="modal.adAccion == 1">Activar</span>
							<span v-if="modal.adAccion == 2">Desactivar</span>
							el ítem {{ modal.adNombre }}
						</v-card-text>
						<v-card-actions>
							<v-spacer />
							<v-btn
								color="green darken-1"
								text
								@click="activarDesactivarCerrar"
								>Cancelar</v-btn
							>
							<template v-if="modal.adAccion == 1">
								<v-btn
									color="orange darken-4"
									text
									@click="activar"
									>Activar</v-btn
								>
							</template>
							<template v-else>
								<v-btn
									color="orange darken-4"
									text
									@click="desactivar"
									>Desactivar</v-btn
								>
							</template>
						</v-card-actions>
					</v-card>
				</v-dialog>
			</v-toolbar>
			<v-data-table
				:headers="headers"
				:items="usuarios"
				:search="search"
				class="elevation-1"
			>
				<template v-slot:item="props">
					<tr>
						<td class="justify-center layout px-0">
							<v-icon
								small
								class="mr-2"
								@click="editItem(props.item)"
							>
								edit
							</v-icon>
							<!-- <v-icon
								small
								@click="deleteItem(props.item)"
								class="mr-2"
							>
								delete
							</v-icon> -->
							<template v-if="props.item.condicion">
								<v-icon
									small
									@click="
										activarDesactivarMostrar(2, props.item)
									"
									>block</v-icon
								>
							</template>
							<template v-else>
								<v-icon
									small
									@click="
										activarDesactivarMostrar(1, props.item)
									"
									>check</v-icon
								>
							</template>
						</td>
						<td>{{ props.item.nombre }}</td>
						<td>{{ props.item.rol }}</td>
						<td>{{ props.item.tipoDocumento }}</td>
						<td>{{ props.item.numDocumento }}</td>
						<td>{{ props.item.direccion }}</td>
						<td>{{ props.item.telefono }}</td>
						<td>{{ props.item.email }}</td>

						<td class="text-xs-right">
							<div v-if="props.item.condicion">
								<span class="blue--text">Activo</span>
							</div>
							<div v-else>
								<span class="red--text">Inactivo</span>
							</div>
						</td>
					</tr>
				</template>
				<template slot="no-data">
					<v-btn color="primary" @click="listar">Reset</v-btn>
				</template>
			</v-data-table>
		</v-flex>
	</v-layout>
</template>

<script>
import axios from "axios";
export default {
	name: "UsuarioBody",
	data: () => ({
		usuarios: [],
		dialog: false,
		dialogDelete: false,
		headers: [
			{
				text: "Opciones",
				align: "start",
				sortable: false,
				value: "actions"
			},
			{ text: "Nombre", value: "nombre" },
			{ text: "Rol", value: "rol" },
			{ text: "Tipo Documento", value: "tipoDocumento" },
			{
				text: "Número Documento",
				value: "numDocumento",
				sortable: false
			},
			{ text: "Dirección", value: "direccion", sortable: false },
			{ text: "Teléfono", value: "telefono", sortable: false },
			{ text: "Email", value: "email", sortable: false },
			{ text: "Estado", value: "condicion", sortable: false }
		],
		search: "",
		editedIndex: -1,
		roles: [],
		documentos: ["DNI", "RUC", "PASAPORTE", "CEDULA"],
		editedItem: {
			idUsuario: 0,
			idRol: 0,
			nombre: "",
			tipoDocumento: "",
			numDocumento: "",
			direccion: "",
			telefono: "",
			email: "",
			password: "",
			passwordAnt: "",
			actPassword: false
		},
		defaultItem: {
			idUsuario: 0,
			idRol: 0,
			nombre: "",
			tipoDocumento: "",
			numDocumento: "",
			direccion: "",
			telefono: "",
			email: "",
			password: "",
			passwordAnt: "",
			actPassword: false
		},

		valida: 0,
		validaMensaje: [],

		modal: {
			adModal: 0,
			adAccion: 0,
			adNombre: "",
			adId: ""
		}
	}),

	computed: {
		formTitle() {
			return this.editedIndex === -1
				? "Nuevo usuario"
				: "Actualizar usuario";
		}
	},

	watch: {
		dialog(val) {
			val || this.close();
		},
		dialogDelete(val) {
			val || this.closeDelete();
		}
	},

	created() {
		this.listar();
		this.select();
	},

	methods: {
		listar() {
			let me = this;
			axios
				.get("api/Usuarios/Listar")
				.then(function(response) {
					
					me.usuarios = response.data;
				})
				.catch(function(error) {
					// console.log(error);
				});
		},

		select() {
			let me = this;
			var rolesArray = [];
			axios
				.get("api/Roles/Select")
				.then(function(response) {
					rolesArray = response.data;
					rolesArray.map(function(x) {
						me.roles.push({
							text: x.nombre,
							value: x.idRol
						});
					});
				})
				.catch(function(error) {
					// console.log(error);
				});
		},

		validar() {
			this.valida = 0;
			this.validaMensaje = [];
			if (
				this.editedItem.nombre.length < 3 ||
				this.editedItem.nombre.length > 100
			) {
				this.validaMensaje.push(
					"El nombre debe tener más de 3 caracteres y menos de 100 caracteres"
				);
			}
			if (!this.editedItem.idRol) {
				this.validaMensaje.push("Seleccione un rol.");
			}
			if (!this.editedItem.tipoDocumento) {
				this.validaMensaje.push("Seleccione un tipo documento.");
			}
			if (!this.editedItem.email) {
				this.validaMensaje.push("Ingrese el email del usuario.");
			}
			if (!this.editedItem.password) {
				this.validaMensaje.push("Ingrese el password del usuario.");
			}
			if (this.validaMensaje.length) {
				this.valida = 1;
			}
			return this.valida;
		},

		limpiar() {
			this.editedItem = this.defaultItem;
			this.editedIndex = -1;
		},

		activarDesactivarMostrar(accion, item) {
			this.modal.adModal = 1;
			this.modal.adNombre = item.nombre;
			this.modal.adId = item.idUsuario;
			if (accion == 1) {
				this.modal.adAccion = 1;
			} else if (accion == 2) {
				this.modal.adAccion = 2;
			} else {
				this.modal.adAccion = 0;
			}
		},

		activar() {
			let me = this;
			axios
				.put(`api/Usuarios/Activar/${this.modal.adId}`, {})
				.then(function(response) {
					me.modal.adModal = 0;
					me.modal.adAccion = 0;
					me.modal.adNombre = "";
					me.modal.adId = "";
					me.listar();
				})
				.catch(function(error) {
					// console.log(error);
				});
		},

		desactivar() {
			let me = this;
			axios
				.put(`api/Usuarios/Desactivar/${this.modal.adId}`, {})
				.then(function(response) {
					me.modal.adModal = 0;
					me.modal.adAccion = 0;
					me.modal.adNombre = "";
					me.modal.adId = "";
					me.listar();
				})
				.catch(function(error) {
					// console.log(error);
				});
		},

		activarDesactivarCerrar() {
			this.modal.adModal = 0;
		},

		guardar() {
			if (this.editedIndex > -1) {
				//Código para editar
				let me = this;
				console.log(me.editedItem.password);
				console.log(me.editedItem.passwordAnt);
				if (me.editedItem.password != me.editedItem.passwordAnt){
					me.editedItem.actPassword = true
				}

				this.editedItem.idUsuario = this.usuarios[
					this.editedIndex
				].idUsuario;
				// this.editedItem.actPassword = this.actPassword;
				axios
					// .put('api/categorias/actualizar/' + this.categorias[this.editedIndex].idUsuario, this.editedItem)
					.put("api/Usuarios/Actualizar", this.editedItem)
					.then(function(response) {
						
						me.close();
						me.listar();
						me.limpiar();
					})
					.catch(function(error) {
						// console.log(error);
					});
			} else {
				//Código para crear
				let me = this;
				axios
					.post("api/Usuarios/Crear", this.editedItem)
					.then(function(response) {
						
						me.close();
						me.listar();
						me.limpiar();
					})
					.catch(function(error) {
						// console.log(error);
					});
			}
			if (this.validar()) {
				return;
			}
		},

		eliminar() {
			let me = this;
			axios
				.delete(
					`api/categorias/eliminar/${
						this.categorias[this.editedIndex].idUsuario
					}`
				)
				.then(function(response) {
					
					me.close();
					me.listar();
					me.limpiar();
				})
				.catch(function(error) {
					// console.log(error);
				});
		},

		editItem(item) {
			this.editedIndex = this.usuarios.indexOf(item);
			this.editedItem = Object.assign({}, item);
			this.editedItem.password = item.passwordHash
			this.editedItem.passwordAnt = item.passwordHash
			this.dialog = true;
		},

		deleteItem(item) {
			this.editedIndex = this.usuarios.indexOf(item);
			this.editedItem = Object.assign({}, item);
			this.dialogDelete = true;
		},

		close() {
			let me = this;
			this.dialog = false;
			this.dialogDelete = false;
			me.limpiar();
			// this.$nextTick(() => {
			// 	this.editedItem = Object.assign({}, this.defaultItem);
			// 	this.editedIndex = -1;
			// });
		},

		closeDelete() {
			this.dialogDelete = false;
			this.$nextTick(() => {
				this.editedItem = Object.assign({}, this.defaultItem);
				this.editedIndex = -1;
			});
		}
	}
};
</script>
