<template>
	<v-app id="app">
		<v-navigation-drawer
			v-model="drawer"
			:clipped="$vuetify.breakpoint.lgAndUp"
			fixed
			app
			v-if="logueado"
		>
			<v-list dense>
				<template v-if="esAdministrador || esAlmacenero || esVendedor">
					<v-list-item :to="{ name: 'Home' }">
						<v-list-item-action>
							<v-icon>home</v-icon>
						</v-list-item-action>
						<v-list-item-title>
							Inicio
						</v-list-item-title>
					</v-list-item>
				</template>
				<template v-if="esAdministrador || esAlmacenero">
					<v-list-group>
						<v-list-item slot="activator">
							<v-list-item-content>
								<v-list-item-title>
									Almacén
								</v-list-item-title>
							</v-list-item-content>
						</v-list-item>
						<v-list-item :to="{ name: 'Categoria' }">
							<v-list-item-action>
								<v-icon>dashboard</v-icon>
							</v-list-item-action>
							<v-list-item-content>
								<v-list-item-title
									>Categorías</v-list-item-title
								>
							</v-list-item-content>
						</v-list-item>
						<v-list-item :to="{ name: 'Articulo' }">
							<v-list-item-action>
								<v-icon>devices</v-icon>
							</v-list-item-action>
							<v-list-item-content>
								<v-list-item-title>Artículos</v-list-item-title>
							</v-list-item-content>
						</v-list-item>
					</v-list-group>
				</template>
				<template v-if="esAdministrador || esAlmacenero">
					<v-list-group>
						<v-list-item slot="activator">
							<v-list-item-content>
								<v-list-item-title>
									Compras
								</v-list-item-title>
							</v-list-item-content>
						</v-list-item>
						<v-list-item :to="{ name: 'Ingreso' }">
							<v-list-item-action>
								<v-icon>paid</v-icon>
							</v-list-item-action>
							<v-list-item-content>
								<v-list-item-title>Ingresos</v-list-item-title>
							</v-list-item-content>
						</v-list-item>
						<v-list-item :to="{ name: 'Proveedor' }">
							<v-list-item-action>
								<v-icon>contact_page</v-icon>
							</v-list-item-action>
							<v-list-item-content>
								<v-list-item-title
									>Proveedores</v-list-item-title
								>
							</v-list-item-content>
						</v-list-item>
					</v-list-group>
				</template>
				<template v-if="esAdministrador || esVendedor">
					<v-list-group>
						<v-list-item slot="activator">
							<v-list-item-content>
								<v-list-item-title>
									Ventas
								</v-list-item-title>
							</v-list-item-content>
						</v-list-item>
						<v-list-item :to="{ name: 'Venta' }">
							<v-list-item-action>
								<v-icon>shopping_cart</v-icon>
							</v-list-item-action>
							<v-list-item-content>
								<v-list-item-title>Ventas</v-list-item-title>
							</v-list-item-content>
						</v-list-item>
						<v-list-item :to="{ name: 'Cliente' }">
							<v-list-item-action>
								<v-icon>people</v-icon>
							</v-list-item-action>
							<v-list-item-content>
								<v-list-item-title>Clientes</v-list-item-title>
							</v-list-item-content>
						</v-list-item>
					</v-list-group>
				</template>
				<template v-if="esAdministrador">
					<v-list-group>
						<v-list-item slot="activator">
							<v-list-item-content>
								<v-list-item-title>
									Accesos
								</v-list-item-title>
							</v-list-item-content>
						</v-list-item>
						<v-list-item :to="{ name: 'Rol' }">
							<v-list-item-action>
								<v-icon>table_chart</v-icon>
							</v-list-item-action>
							<v-list-item-content>
								<v-list-item-title>Roles</v-list-item-title>
							</v-list-item-content>
						</v-list-item>
						<v-list-item :to="{ name: 'Usuario' }">
							<v-list-item-action>
								<v-icon>face</v-icon>
							</v-list-item-action>
							<v-list-item-content>
								<v-list-item-title>Usuarios</v-list-item-title>
							</v-list-item-content>
						</v-list-item>
					</v-list-group>
					<v-list-group>
						<v-list-item slot="activator">
							<v-list-item-content>
								<v-list-item-title>
									Consultas
								</v-list-item-title>
							</v-list-item-content>
						</v-list-item>
						<v-list-item :to="{ name: 'ConsultaIngreso' }">
							<v-list-item-action>
								<v-icon>table_chart</v-icon>
							</v-list-item-action>
							<v-list-item-content>
								<v-list-item-title
									>Consultas compras</v-list-item-title
								>
							</v-list-item-content>
						</v-list-item>
						<v-list-item :to="{ name: 'ConsultaVenta' }">
							<v-list-item-action>
								<v-icon>table_chart</v-icon>
							</v-list-item-action>
							<v-list-item-content>
								<v-list-item-title
									>Consultas ventas</v-list-item-title
								>
							</v-list-item-content>
						</v-list-item>
					</v-list-group>
				</template>
			</v-list>
		</v-navigation-drawer>
		<v-app-bar
			:clipped-left="$vuetify.breakpoint.lgAndUp"
			color="blue darken-3"
			dark
			app
			fixed
		>
			<v-icon @click.stop="drawer = !drawer">menu</v-icon>

			<v-app-bar-title style="width: 300px" class="ml-0 pl-3">
				<span class="hidden-sm-and-down">Sistema</span>
			</v-app-bar-title>
			<v-spacer />
			<v-btn @click="salir" v-if="logueado">
				<v-icon>logout</v-icon>Salir
			</v-btn>
			<v-btn :to="{ name: 'Login' }" v-else>
				<v-icon>apps</v-icon>Login
			</v-btn>
		</v-app-bar>
		<template fluid >
			<v-main fluid>
				<v-container style="height: calc(120vh - 114px)">
					<v-slide-y-transition mode="out-in">
						<router-view />
					</v-slide-y-transition>
				</v-container>
				<v-footer color="blue darken-3" height="50">
					<v-row justify-center text-center>
						<v-col class="white--text">
							<!-- <v-card flat item color="primary" class="white--text"> -->
							<!-- <v-card-text class="white--text pt-0"> -->
							<p class="text-center ma-0">José Avila &copy; 2021</p>
							<!-- </v-card-text> -->
							<!-- </v-card> -->
						</v-col>
					</v-row>
				</v-footer>
			</v-main>
		</template>
	</v-app>
</template>

<script>
export default {
	name: "App",

	data() {
		return {
			drawer: null
		};
	},
	computed: {
		logueado() {
			return this.$store.state.usuario;
		},
		esAdministrador() {
			return (
				this.$store.state.usuario &&
				this.$store.state.usuario.rol == "Administrador"
			);
		},
		esAlmacenero() {
			return (
				this.$store.state.usuario &&
				this.$store.state.usuario.rol == "Almacenero"
			);
		},
		esVendedor() {
			return (
				this.$store.state.usuario &&
				this.$store.state.usuario.rol == "Vendedor"
			);
		}
	},
	created() {
		this.$store.dispatch("autoLogin");
	},
	methods: {
		salir() {
			this.$store.dispatch("salir");
		}
	}
};
</script>
